POSTGRES_USER=akentech
POSTGRES_PASSWORD=INSECURE_EXAMPLE_CHANGE_ME

INCOME_DB_NAME=income_db
EXPENSE_DB_NAME=expense_db
INVESTMENT_DB_NAME=investment_db
TRANSACTION_DB_NAME=transaction_db
USER_DB_NAME=user_db

JWT_SECRET=INSECURE_EXAMPLE_CHANGE_ME
ADMIN_KEY=INSECURE_EXAMPLE_CHANGE_ME
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
SPRING_PROFILES_ACTIVE=docker
LOG_LEVEL=INFO
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false

INCOME_SERVICE_URL=http://income-service:8080
EXPENSE_SERVICE_URL=http://expense-service:8080
INVESTMENT_SERVICE_URL=http://investment-service:8080
TRANSACTION_SERVICE_URL=http://transaction-service:8080
USER_SERVICE_URL=http://user-service:8085
API_GATEWAY_URL=http://api-gateway:8080

KEYCLOAK_DB_NAME=keycloak_db
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=INSECURE_EXAMPLE_CHANGE_ME
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/afarms-realm

ADMIN_EMAIL=admin@afarms.local
ADMIN_USERNAME=admin
ADMIN_PASSWORD=INSECURE_EXAMPLE_CHANGE_ME
