POSTGRES_USER=akentech
POSTGRES_PASSWORD=change_me
INCOME_DB_NAME=income_db
EXPENSE_DB_NAME=expense_db
INVESTMENT_DB_NAME=investment_db
TRANSACTION_DB_NAME=transaction_db
USER_DB_NAME=user_db
JWT_SECRET=replace_with_64_hex_chars
ADMIN_KEY=replace_with_admin_key
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
SPRING_PROFILES_ACTIVE=docker
